USE [master]
GO
/****** Object:  Database [TicketMaster]    Script Date: 10/26/2018 20:01:47 ******/
CREATE DATABASE [TicketMaster] ON  PRIMARY 
( NAME = N'TicketMaster', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TicketMaster.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'TicketMaster_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\TicketMaster_log.LDF' , SIZE = 576KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TicketMaster].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TicketMaster]
GO
/****** Object:  ForeignKey [FK_TicketVenta_Boletos]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta] DROP CONSTRAINT [FK_TicketVenta_Boletos]
GO
/****** Object:  ForeignKey [FK_TicketVenta_Concierto]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta] DROP CONSTRAINT [FK_TicketVenta_Concierto]
GO
/****** Object:  ForeignKey [FK_TicketVenta_Empleado]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta] DROP CONSTRAINT [FK_TicketVenta_Empleado]
GO
/****** Object:  Check [CK_Boletos]    Script Date: 10/26/2018 20:01:49 ******/
ALTER TABLE [dbo].[Boletos] DROP CONSTRAINT [CK_Boletos]
GO
/****** Object:  Check [CK_Asientos]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[Asientos] DROP CONSTRAINT [CK_Asientos]
GO
/****** Object:  Table [dbo].[TicketVenta]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta] DROP CONSTRAINT [FK_TicketVenta_Boletos]
GO
ALTER TABLE [dbo].[TicketVenta] DROP CONSTRAINT [FK_TicketVenta_Concierto]
GO
ALTER TABLE [dbo].[TicketVenta] DROP CONSTRAINT [FK_TicketVenta_Empleado]
GO
DROP TABLE [dbo].[TicketVenta]
GO
/****** Object:  Table [dbo].[Asientos]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[Asientos] DROP CONSTRAINT [CK_Asientos]
GO
DROP TABLE [dbo].[Asientos]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/26/2018 20:01:49 ******/
DROP TABLE [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[Concierto]    Script Date: 10/26/2018 20:01:49 ******/
DROP TABLE [dbo].[Concierto]
GO
/****** Object:  Table [dbo].[Asistencia]    Script Date: 10/26/2018 20:01:50 ******/
DROP TABLE [dbo].[Asistencia]
GO
/****** Object:  Table [dbo].[Auditorios]    Script Date: 10/26/2018 20:01:49 ******/
DROP TABLE [dbo].[Auditorios]
GO
/****** Object:  Table [dbo].[Boletos]    Script Date: 10/26/2018 20:01:49 ******/
ALTER TABLE [dbo].[Boletos] DROP CONSTRAINT [CK_Boletos]
GO
DROP TABLE [dbo].[Boletos]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/26/2018 20:01:49 ******/
DROP TABLE [dbo].[Cliente]
GO
/****** Object:  Table [dbo].[zona]    Script Date: 10/26/2018 20:01:50 ******/
DROP TABLE [dbo].[zona]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 10/26/2018 20:01:50 ******/
DROP TABLE [dbo].[TipoPago]
GO
/****** Object:  Table [dbo].[TipoPago]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TipoPago](
	[id_tipo] [int] NOT NULL,
	[tipopago] [varchar](20) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexTipoPago] ON [dbo].[TipoPago] 
(
	[id_tipo] ASC,
	[tipopago] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[TipoPago] ([id_tipo], [tipopago]) VALUES (2, N'Tarjeta de Cerdito')
INSERT [dbo].[TipoPago] ([id_tipo], [tipopago]) VALUES (2, N'Tarjeta de Cerdito')
INSERT [dbo].[TipoPago] ([id_tipo], [tipopago]) VALUES (2, N'Tarjeta de Cerdito')
/****** Object:  Table [dbo].[zona]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[zona](
	[id_zona] [int] NOT NULL,
	[nomzona] [varchar](20) NULL,
	[numasientos] [int] NULL,
	[lugaresocupado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_zona] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexzona] ON [dbo].[zona] 
(
	[id_zona] ASC,
	[nomzona] ASC,
	[numasientos] ASC,
	[lugaresocupado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[zona] ([id_zona], [nomzona], [numasientos], [lugaresocupado]) VALUES (1, N'General sur', 400, 150)
INSERT [dbo].[zona] ([id_zona], [nomzona], [numasientos], [lugaresocupado]) VALUES (2, N'General norte', 400, 300)
INSERT [dbo].[zona] ([id_zona], [nomzona], [numasientos], [lugaresocupado]) VALUES (3, N'General poniente', 400, 100)
/****** Object:  Table [dbo].[Cliente]    Script Date: 10/26/2018 20:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cliente](
	[Id_Cliente] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Telefono] [int] NULL,
	[Direccion] [nchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Cliente] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexCliente] ON [dbo].[Cliente] 
(
	[Id_Cliente] ASC,
	[Nombre] ASC,
	[Telefono] ASC,
	[Direccion] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Telefono], [Direccion]) VALUES (1, N'Alfonso', 811345678, N'Luis Arreola, 788, Ruiz                                                                             ')
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Telefono], [Direccion]) VALUES (2, N'Katya', 817149824, N'Porfirio Diaz, 908, Portillo                                                                        ')
INSERT [dbo].[Cliente] ([Id_Cliente], [Nombre], [Telefono], [Direccion]) VALUES (3, N'Ramiro', 813255898, N'Arriendo, 711, Bella Vista                                                                          ')
/****** Object:  Table [dbo].[Boletos]    Script Date: 10/26/2018 20:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Boletos](
	[Id_Boleto] [int] NOT NULL,
	[id_zona] [varchar](50) NULL,
	[Id_Auditorio] [int] NULL,
	[Numero_Asiento] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Boleto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexBoletos] ON [dbo].[Boletos] 
(
	[Id_Boleto] ASC,
	[id_zona] ASC,
	[Id_Auditorio] ASC,
	[Numero_Asiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Boletos] ([Id_Boleto], [id_zona], [Id_Auditorio], [Numero_Asiento]) VALUES (11, N'General C', 4, 1007)
INSERT [dbo].[Boletos] ([Id_Boleto], [id_zona], [Id_Auditorio], [Numero_Asiento]) VALUES (12, N'Preferente oriente', 14, 517)
INSERT [dbo].[Boletos] ([Id_Boleto], [id_zona], [Id_Auditorio], [Numero_Asiento]) VALUES (13, N'Vip D', 16, 10)
/****** Object:  Table [dbo].[Auditorios]    Script Date: 10/26/2018 20:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Auditorios](
	[Id_Auditorio] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Asientos] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Auditorio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[Auditorios] ([Id_Auditorio], [Nombre], [Asientos]) VALUES (1, N'Auditorio Nacional', 5000)
INSERT [dbo].[Auditorios] ([Id_Auditorio], [Nombre], [Asientos]) VALUES (2, N'Palacio de Deportes', 2500)
INSERT [dbo].[Auditorios] ([Id_Auditorio], [Nombre], [Asientos]) VALUES (3, N'Teatro Metropolitan', 600)
/****** Object:  Table [dbo].[Asistencia]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Asistencia](
	[Id_Asistencia] [int] NULL,
	[Asistio] [varchar](2) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexAsistencia] ON [dbo].[Asistencia] 
(
	[Id_Asistencia] ASC,
	[Asistio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Asistencia] ([Id_Asistencia], [Asistio]) VALUES (1, N'NO')
INSERT [dbo].[Asistencia] ([Id_Asistencia], [Asistio]) VALUES (2, N'NO')
INSERT [dbo].[Asistencia] ([Id_Asistencia], [Asistio]) VALUES (3, N'NO')
/****** Object:  Table [dbo].[Concierto]    Script Date: 10/26/2018 20:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Concierto](
	[Id_Concierto] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Fecha] [date] NULL,
	[Id_Auditorio] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Concierto] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexConcierto] ON [dbo].[Concierto] 
(
	[Id_Concierto] ASC,
	[Nombre] ASC,
	[Fecha] ASC,
	[Id_Auditorio] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Concierto] ([Id_Concierto], [Nombre], [Fecha], [Id_Auditorio]) VALUES (2, N'La Trakalosa de Monterrey', CAST(0x1E3F0B00 AS Date), 10)
INSERT [dbo].[Concierto] ([Id_Concierto], [Nombre], [Fecha], [Id_Auditorio]) VALUES (3, N'BTS', CAST(0xD63D0B00 AS Date), 3)
INSERT [dbo].[Concierto] ([Id_Concierto], [Nombre], [Fecha], [Id_Auditorio]) VALUES (4, N'Justin Bieber', CAST(0xCD3E0B00 AS Date), 9)
/****** Object:  Table [dbo].[Empleado]    Script Date: 10/26/2018 20:01:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id_Empleado] [int] NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Telefono] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
CREATE NONCLUSTERED INDEX [indexEmpleado] ON [dbo].[Empleado] 
(
	[Id_Empleado] ASC,
	[Nombre] ASC,
	[Telefono] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [Telefono]) VALUES (1, N'Pablito', 822144644)
INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [Telefono]) VALUES (2, N'Samantha', 827889963)
INSERT [dbo].[Empleado] ([Id_Empleado], [Nombre], [Telefono]) VALUES (3, N'Jacinto', 824455478)
/****** Object:  Table [dbo].[Asientos]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Asientos](
	[Numero_Asiento] [int] NOT NULL
) ON [PRIMARY]
GO
CREATE NONCLUSTERED INDEX [indexAsientos] ON [dbo].[Asientos] 
(
	[Numero_Asiento] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[Asientos] ([Numero_Asiento]) VALUES (12)
INSERT [dbo].[Asientos] ([Numero_Asiento]) VALUES (20)
INSERT [dbo].[Asientos] ([Numero_Asiento]) VALUES (48)
/****** Object:  Trigger [Empleadotrigger]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[Empleadotrigger] on [dbo].[Cliente] after delete 
as
begin
 select*from deleted
 end
GO
/****** Object:  Trigger [conciertotrigger]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[conciertotrigger] on [dbo].[Concierto] instead of update 
as
begin
 select*from inserted
 end
GO
/****** Object:  Trigger [clientetrigger]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[clientetrigger] on [dbo].[Cliente] instead of update 
as
begin
 select*from inserted
 end
GO
/****** Object:  Trigger [asientostrigger]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[asientostrigger] on [dbo].[Cliente] instead of insert
 as
begin
 select*from inserted
 end
GO
/****** Object:  Trigger [tipopagotrigger]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[tipopagotrigger] on [dbo].[TipoPago] instead of update 
as
begin
 select*from inserted
 end
GO
/****** Object:  Table [dbo].[TicketVenta]    Script Date: 10/26/2018 20:01:50 ******/
SET ARITHABORT ON
GO
SET CONCAT_NULL_YIELDS_NULL ON
GO
SET ANSI_NULLS ON
GO
SET ANSI_PADDING ON
GO
SET ANSI_WARNINGS ON
GO
SET NUMERIC_ROUNDABORT OFF
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ARITHABORT ON
GO
CREATE TABLE [dbo].[TicketVenta](
	[Id_Venta] [int] NOT NULL,
	[Id_Boleto] [int] NULL,
	[Id_Concierto] [int] NULL,
	[FechaCompra] [smalldatetime] NULL,
	[Id_Cliente] [int] NULL,
	[Id_Empleado] [int] NULL,
	[Precio_Individual] [int] NULL,
	[Cantidad] [int] NULL,
	[PrecioTotal]  AS ([Precio_Individual]*[Cantidad]),
 CONSTRAINT [PK_TicketVenta] PRIMARY KEY CLUSTERED 
(
	[Id_Venta] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ARITHABORT ON
SET CONCAT_NULL_YIELDS_NULL ON
SET QUOTED_IDENTIFIER ON
SET ANSI_NULLS ON
SET ANSI_PADDING ON
SET ANSI_WARNINGS ON
SET NUMERIC_ROUNDABORT OFF
CREATE NONCLUSTERED INDEX [indexTicketVenta] ON [dbo].[TicketVenta] 
(
	[Id_Venta] ASC,
	[Id_Boleto] ASC,
	[Id_Concierto] ASC,
	[FechaCompra] ASC,
	[Id_Cliente] ASC,
	[Id_Empleado] ASC,
	[Precio_Individual] ASC,
	[Cantidad] ASC,
	[PrecioTotal] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
INSERT [dbo].[TicketVenta] ([Id_Venta], [Id_Boleto], [Id_Concierto], [FechaCompra], [Id_Cliente], [Id_Empleado], [Precio_Individual], [Cantidad]) VALUES (2, 12, 10, CAST(0xA8130000 AS SmallDateTime), 14, 1, 600, 1)
INSERT [dbo].[TicketVenta] ([Id_Venta], [Id_Boleto], [Id_Concierto], [FechaCompra], [Id_Cliente], [Id_Empleado], [Precio_Individual], [Cantidad]) VALUES (3, 13, 13, CAST(0xA7870000 AS SmallDateTime), 15, 3, 400, 1)
INSERT [dbo].[TicketVenta] ([Id_Venta], [Id_Boleto], [Id_Concierto], [FechaCompra], [Id_Cliente], [Id_Empleado], [Precio_Individual], [Cantidad]) VALUES (4, 14, 14, CAST(0xA7200000 AS SmallDateTime), 13, 5, 100, 1)
/****** Object:  Trigger [tickettrigger]    Script Date: 10/26/2018 20:01:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[tickettrigger] on [dbo].[TicketVenta] after update 
as
begin
 select*from inserted
 end
GO
/****** Object:  Check [CK_Boletos]    Script Date: 10/26/2018 20:01:49 ******/
ALTER TABLE [dbo].[Boletos]  WITH CHECK ADD  CONSTRAINT [CK_Boletos] CHECK  (([Id_Auditorio]>=(0) AND [Id_Auditorio]>=(0)))
GO
ALTER TABLE [dbo].[Boletos] CHECK CONSTRAINT [CK_Boletos]
GO
/****** Object:  Check [CK_Asientos]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[Asientos]  WITH CHECK ADD  CONSTRAINT [CK_Asientos] CHECK  (([Numero_Asiento]>=(0)))
GO
ALTER TABLE [dbo].[Asientos] CHECK CONSTRAINT [CK_Asientos]
GO
/****** Object:  ForeignKey [FK_TicketVenta_Boletos]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta]  WITH CHECK ADD  CONSTRAINT [FK_TicketVenta_Boletos] FOREIGN KEY([Id_Boleto])
REFERENCES [dbo].[Boletos] ([Id_Boleto])
GO
ALTER TABLE [dbo].[TicketVenta] CHECK CONSTRAINT [FK_TicketVenta_Boletos]
GO
/****** Object:  ForeignKey [FK_TicketVenta_Concierto]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta]  WITH CHECK ADD  CONSTRAINT [FK_TicketVenta_Concierto] FOREIGN KEY([Id_Concierto])
REFERENCES [dbo].[Concierto] ([Id_Concierto])
GO
ALTER TABLE [dbo].[TicketVenta] CHECK CONSTRAINT [FK_TicketVenta_Concierto]
GO
/****** Object:  ForeignKey [FK_TicketVenta_Empleado]    Script Date: 10/26/2018 20:01:50 ******/
ALTER TABLE [dbo].[TicketVenta]  WITH CHECK ADD  CONSTRAINT [FK_TicketVenta_Empleado] FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id_Empleado])
GO
ALTER TABLE [dbo].[TicketVenta] CHECK CONSTRAINT [FK_TicketVenta_Empleado]
GO
